<!DOCTYPE html>
<html>
<head>
  <title>Rubyman</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="main">
    <div id="left">
      <header>
        <h1>Rubyman</h1>
      </header>

      <div class='infoboard'>
        <p class="wsad text">Use WSAD buttons to manipulate Worm.</p>
        <p class="wsad w">
          <%= link_to 'W','#', :class=> 'punch wsad'  %>
        </p>
        <p class="wsad sad">
          <%= link_to 'S','#', :class=> 'punch wsad'   %>
          <%= link_to 'A','#', :class=> 'punch wsad'   %>
          <%= link_to 'D','#', :class=> 'punch wsad'   %>
        </p>
      </div>

        
      <div class="wormbuttons">
        <%= content_tag :a, :href => '#', id: 'startgame', :class=> 'worm btn btn-info'  do  %>
          <% image_tag 'worm.png'  %>
          Start 
        <% end %>
        <%= content_tag :a, :href => '#',  id: 'resetgame', :class=> 'worm btn btn-info' do  %>
          <% image_tag 'worm.png'  %>
          Reset 
        <% end %>
        <%= content_tag :a, :href => '#',  id: 'endgame', :class=> 'worm btn btn-info' do   %>
          <% image_tag 'blood.png' %>
          Kill 
        <% end %>
      </div>

      <div class="scoreboard">
        <table id="count">
          <tr>
            <td class="logos">
              <%= image_tag 'pacman.png', class: "pacman" %>
              <div class="rubyman">
                0
              </div>
            </td>
            <td class="logos">
              <%= image_tag 'meduze.png', class: "meduze" %>
              <div class="enemycount">
                0 
              </div>
            </td>
          </tr>
        </table>
      </div>

      <div class="credits">
        Author: vekozlov
        <a href="https://github.com/vekozlov">Github</a>
        <a href="v.e.kozlov at gmail dot com">v.e.kozlov (at) gmail (.) com</a>
      </div>
    </div>

    <div id="right">
      <table id="wormfield"></table>
    </div>

    <div class="sources">
      <%= image_tag 'pacman.png', id: "pacman_source" %>
      <%= image_tag 'meduze.png', id: "meduze_source" %>
      <%= image_tag 'bomb.png', id: "bomb_source" %>
      <%= image_tag 'ruby.png', id: "ruby_source" %>
      <%= image_tag 'blood.png', id: "blood_source" %>
    </div>

    <div class="staff">
      <div id="plugins"></div>
      <p class="log"></p>
    </div>
    
    <div class="attention">
      <div class="content">
        <h1>Game over!</h1>
        <p>Thanks for trying the game. Keep your hands on a pulse by following the github code feed.</p>
      </div>
      <div class="backdrop"></div>
    </div>

  </div>
</body>
</html>
